@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
 */
:root {
  --primary-soft-red: hsl(10, 79%, 65%);
  --primary-cyan: hsl(186, 34%, 60%);
  --secondary-dark-brown: hsl(25, 47%, 15%);
  --secondary-medium-brown: hsl(28, 10%, 53%);
  --secondary-cream: hsl(27, 66%, 92%);
  --secondary-pale-orange: hsl(33, 100%, 98%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  font-family: "DM Sans", sans-serif;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: var(--secondary-cream);
  font-size: 1.125rem;
}

/* Main Container Styling */

.container {
  display: flex;
  width: 530px;
  margin: 0 auto;
  flex-direction: column;
  gap: 1.5rem;
}

/* Balance Component Styling */
.balance-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 33px;
  background-color: var(--primary-soft-red);
  color: white;
  border-radius: 15px;
}

.balance-card div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.balance-card div:nth-of-type(1) span:nth-of-type(2) {
  font-size: 1.75rem;
  font-weight: 700;
}

.balance-card div:nth-of-type(2) {
  align-self: center;
}

/* SpendingCard Component Styling */

.spending-card {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-pale-orange);
  height: 450px;
  border-radius: 15px;
}

.spending-card ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  color: var(--secondary-medium-brown);
  font-size: 14px;
  margin-top: 15px;
  margin-right: 10px;
  align-items: flex-end;
  height: 170px;
}

.spending-viz-container {
  width: 83%;
  margin: 31px auto 20px;
  display: flex;
  flex-direction: column;
}

.spending-viz-container h1 {
  font-size: 1.75rem;
  font-weight: 700;
}

.dividing-line {
  border-top: 2px solid var(--secondary-cream);
  margin-top: 35px;
}

/* SpendingInfo Component Styling */

.spending-info-container {
  display: flex;
  justify-content: space-between;
  width: 84%;
  margin: 18px auto;
}

.spending-info-container span {
  color: var(--secondary-medium-brown);
}

.spending-info-container .month-total {
  margin-top: 10px;
  font-size: 2.5rem;
}

.spending-info-container div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.spending-info-container .month-change {
  align-self: end;
  font-size: 1.25rem;
}

/* Spending Visualization Component */

ul li div {
  background-color: var(--primary-soft-red);
  /* height: 150px; */
  width: 50px;
  border-radius: 5px;
  margin-bottom: 3px;
}

ul li {
  text-align: center;
}

.monday-bar {
  height: 65px;
}

.tuesday-bar {
  height: 85px;
}

.wednesday-bar {
  height: 130px;
}

.thursday-bar {
  height: 70px;
}

.friday-bar {
  height: 40px;
}

.saturday-bar {
  height: 80px;
}

.sunday-bar {
  height: 60px;
}

.spending-viz-container li div:nth-of-type(1) {
  width: 100%;
  height: 30px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  display: none;
}

ul li div:hover {
  background-color: var(--primary-cyan);
}

ul li:hover div:nth-of-type(1) {
  display: flex;
}
